.expandLeft:hover {
    position: relative;
    top: -190px;
    left: -230px;
    width: 500px;
    z-index: 1;
}
.expandCenter:hover {
    position: relative;
    top: -190px;
    left: -100px;
    width: 500px;
    z-index: 1;
}
.expandRight:hover {
    position: relative;
    top: -190px;
    left: 0px;
    width: 500px;
    z-index: 1;
}
.column {
    float: left;
    width: 20%;
    padding: 0px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
